<div class="kanban-board" id="kanban-board" hx-trigger="updateItem" hx-swap="innerHTML">
  <div id="kanban-board-wrapper">
    <div class="kanban-list-wrapper">
      <h3>Ideas</h3>
      
      <form id="add-item-form" hx-post="{% url 'create_item' %}" hx-target="#kanban-board" hx-swap="outerHTML" hx-on::after-request="focusForm()" role="group">
        <input type="text" id="add-item-input" name="content" placeholder="New item" required>
        <button type="submit"><img src="../static/add.svg"></button>
      </form>

      <div class="kanban-list {% if not ideas_items %}empty{% endif %}" id="ideas-list" data-board-type="IDEAS">
        {% for item in ideas_items %}
          <div class="kanban-item" id="item-{{ item.id }}">
            <input type="checkbox" class="undraggable"  hx-post="/update-item-position-checked/{{ item.id }}/" hx-target="#kanban-board" hx-swap="innerHTML">
            <span>{{ item.content }}</span>
            <button hx-swap="delete" class="undraggable kanban-item-button" hx-delete="/delete-item/{{ item.id }}/" hx-target="closest div"><img src="../static/trash.svg"></button>
            <button id="hx-trigger-IDEAS" style="display: none;" hx-post="/update-item-position/" hx-swap="outerHTML" hx-target="#kanban-board"></button>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="kanban-list-wrapper">
      <h3>Todo</h3>
      <div class="kanban-list {% if not todo_items %}empty{% endif %}" id="todo-list" data-board-type="TODO">
        {% for item in todo_items %}
          <div class="kanban-item" id="item-{{ item.id }}">
            <input type="checkbox" class="undraggable"  hx-post="/update-item-position-checked/{{ item.id }}/" hx-target="#kanban-board" hx-swap="innerHTML">
            <span>{{ item.content }}</span>
            <button hx-swap="delete" class="undraggable kanban-item-button" hx-delete="/delete-item/{{ item.id }}/" hx-target="closest div"><img src="../static/trash.svg"></button>
            <button id="hx-trigger-TODO" style="display: none;" hx-post="/update-item-position/" hx-swap="outerHTML" hx-target="#kanban-board"></button>
          </div>
        {% endfor %}
      </div>
    </div>
    
    <div class="kanban-list-wrapper">
      <h3>Doing</h3>
      <div class="kanban-list {% if not doing_items %}empty{% endif %}" id="doing-list" data-board-type="DOING">
        {% for item in doing_items %}
          <div class="kanban-item" id="item-{{ item.id }}">
            <input type="checkbox" class="undraggable"  hx-post="/update-item-position-checked/{{ item.id }}/" hx-target="#kanban-board" hx-swap="innerHTML">
            <span>{{ item.content }}</span>
            <button hx-swap="delete" class="undraggable kanban-item-button" hx-delete="/delete-item/{{ item.id }}/" hx-target="closest div"><img src="../static/trash.svg"></button>
            <button id="hx-trigger-DOING" style="display: none;" hx-post="/update-item-position/" hx-swap="outerHTML" hx-target="#kanban-board"></button>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="kanban-list-wrapper">
      <h3>Done</h3>
      <div class="kanban-list {% if not done_items %}empty{% endif %}" id="done-list" data-board-type="DONE">
        {% for item in done_items %}
          <div class="kanban-item" id="item-{{ item.id }}">
            <input type="checkbox" class="undraggable"  {% if item.checked %}checked{% endif %} hx-post="/update-item-position-checked/{{ item.id }}/" hx-target="#kanban-board" hx-swap="innerHTML">
            <span>{{ item.content }}</span>
            <button hx-swap="delete" class="undraggable kanban-item-button" hx-delete="/delete-item/{{ item.id }}/" hx-target="closest div"><img src="../static/trash.svg"></button>
            <button id="hx-trigger-DONE" style="display: none;" hx-post="/update-item-position/" hx-swap="outerHTML" hx-target="#kanban-board"></button>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  // htmx.logAll();

  document.querySelectorAll('.kanban-list').forEach(function(list) {
    new Sortable(list, {
      chosenClass: 'sortable-chosen', // Class name for the chosen item
      ghostClass: 'sortable-ghost', // Class name for the drop placeholder
      group: 'shared',
      filter: '.undraggable', // 'undraggable' class is not draggable
      onMove: function (evt) {
        // Prevent placing items after the undraggable element
        if (evt.related.className.includes('undraggable')) {
            return false;
        }
      },
      onEnd: function (evt) {
          var item = evt.item
          var item_id = item.id.split('-')[1]
          var newBoardType = evt.to.dataset.boardType  // Assuming each list has a data-board-type attribute
          var oldBoardType = evt.from.dataset.boardType
          var newIndex = evt.newIndex
          // log number of siblings
          count = document.querySelectorAll('#' + newBoardType.toLowerCase() + '-list .kanban-item').length
          // create array of size count with numbers from count to 1
          var arr = Array.from({length: count}, (_, i) => i + 1).reverse()
          newIndex = arr[newIndex]
          console.log('dragged item ID', item_id, newIndex)
          updateItemPosition(item_id, newBoardType, oldBoardType, newIndex)
        }
    });
  });
  
  function updateItemPosition(item, newBoardType, oldBoardType, newIndex) {
    // Update the HTMX trigger with the correct POST URL and values
    const htmxTrigger = document.querySelector('#hx-trigger-' + oldBoardType)
    htmxTrigger.setAttribute('hx-vals', '{"item_id": "' + item.toString() + '", "new_position": "' + newIndex.toString() + '", "new_board": "' + newBoardType + '"}');
    console.log('trigger', htmxTrigger)
    // Trigger the HTMX request by simulating a click
    htmx.trigger(htmxTrigger, 'click');
  }

  function focusForm() {
    document.getElementById('add-item-input').select();
  }
</script>