{% load static %}
<div class="kanban-board" id="kanban-board" hx-swap="innerHTML">
  <div id="kanban-board-wrapper">
    {% for board_list in board_lists %}
      {% include 'partials/boardlist.html' %}
    {% endfor %}
  </div>
  <div class="activities-container">
    <div class="activity-list" id="activity-list">
      <h5>Activity:</h5>
      {% for activity in activities %}
        {% include 'partials/activity.html' %}
      {% endfor %}
    </div>
    <div class="user-list">
      <h5>Team:</h5>
      <ul class="user-list-items">
        {% for user in users %}
          <li class="user-list-item">
            <span class="user-list-item-username">{{ user.username }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>
  // htmx.logAll();
  document.querySelectorAll('.kanban-list').forEach(function(list) {
    new Sortable(list, {
      delay: 250, // time in milliseconds to define when the sorting should start
	    delayOnTouchOnly: true,
      chosenClass: 'sortable-chosen', // Class name for the chosen item
      ghostClass: 'sortable-ghost', // Class name for the drop placeholder
      group: 'shared',
      filter: 'input', // 'undraggable' class is not draggable
      preventOnFilter: false, // Prevents sorting if trying to drag an undraggable element
      onEnd: function (evt) {
          var item = evt.item
          var item_id = item.id.split('-')[1]
          var newBoardType = evt.to.dataset.boardType  // Assuming each list has a data-board-type attribute
          var oldBoardType = evt.from.dataset.boardType
          var newIndex = evt.newIndex
          // log number of siblings
          count = document.querySelectorAll('#' + newBoardType.toLowerCase() + '-list .kanban-item').length
          // create array of size count with numbers from count to 1
          var arr = Array.from({length: count}, (_, i) => i + 1).reverse()
          newIndex = arr[newIndex-1]
          updateItemPosition(item_id, newBoardType, oldBoardType, newIndex)
        }
    });
  });
  
  function updateItemPosition(item, newBoardType, oldBoardType, newIndex) {
    // Update the HTMX trigger with the correct POST URL and values
    const htmxTrigger = document.querySelector('#hx-trigger-' + oldBoardType.toUpperCase())
    htmxTrigger.setAttribute('hx-vals', '{"item_id": "' + item.toString() + '", "new_position": "' + newIndex.toString() + '", "new_board": "' + newBoardType.toUpperCase() + '"}');
    // Trigger the HTMX request by simulating a click
    htmx.trigger(htmxTrigger, 'click');
  }

  function focusForm(id) {
    input = document.querySelector('#edit-item-input-' + id);
    input.select();
    form = input.closest('form');
    input.addEventListener('blur', function() {
      htmx.trigger(form, 'submit');
    });
  }

  document.querySelectorAll('.toggle-add-item-form').forEach(function(button) {
    button.addEventListener('click', function() {
      var form = document.querySelector('#add-item-form-' + button.dataset.boardType)
      form.style.display = form.style.display === 'none' ? 'inline-flex' : 'none';
      form.querySelector('input[name="content"]').focus();
      form.querySelector('input[name="content"]').addEventListener('blur', function() {
        if (form.querySelector('input[name="content"]').value === '') {
          form.style.display = 'none';
        } else {
          htmx.trigger(form, 'submit');
        }
      });
    });
  });

  function convertUTCToLocalTime() {
    document.querySelectorAll('.item-timestamp').forEach(function(span) {
      var utcDate = span.getAttribute('data-utc');
      var localDate = new Date(utcDate);
      if (localDate.getDate() == new Date().getDate()) {
        span.textContent = localDate.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit', hour12: true });
      } else {
        span.textContent = localDate.toLocaleString();
      }
    });
  }
  document.addEventListener('DOMContentLoaded', function () {
    convertUTCToLocalTime();
  });
  document.body.addEventListener('htmx:afterSwap', function () {
    convertUTCToLocalTime();
  });
</script>