{% load static %}
<form class="add-item-form edit-item" hx-post="/update-item/{{ item.id }}/" hx-target="#kanban-board" hx-swap="outerHTML" role="group" data-item-id="{{ item.id }}" hx-on="htmx:load: focusForm({{ item.id }})">
  <input type="text" name="content" required value="{{ item.content }}" id="edit-item-input-{{ item.id }}">
  <button type="submit"><img class="form-button-img" src="{% static 'img/add_new.svg' %}"></button>
</form>

<!-- make it so that this form losing focus triggers HTMX to swap the form back with an item -->