<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Kanban 🦬HTMX🥒</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/Sortable.min.js' %}"></script>
    
    <label id="switch" class="switch">
      <input type="checkbox" data-theme-switcher="light" id="slider">
      <span class="slider round"></span>
    </label>
  </head>
  <body hx-boost="true" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <main class="container-fluid">
      {% block content %}
      {% endblock content %}
    </main>
    <script src="{% static 'js/minimal-theme-switcher.js' %}"></script>
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        if(window.localStorage.getItem("picoPreferredColorScheme") === "light") {
          document.querySelector("#slider").checked = true;
        }
        themeSwitcher.schemeToLocalStorage()
      });
    </script>
  </body>
</html>