<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Kanban HTMX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/Sortable.min.js' %}"></script>
  </head>
  <body hx-boost="true" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <main class="container-fluid">
        {% block content %}
        {% endblock content %}
    </main>
  </body>
</html>